Dear <%= @order.name %>,
You looked for these products in our temp_store_for_kursach:

<%= render @order.line_items -%><!--doesn't render correctly-->

When your order will be ready for delivery, we send new email.

Thank you for order!