<h1>Your order was shipped!</h1>

<p>
  As we promised, this message notify you, that your order was shipped!
</p>

<table>
  <tr>
    <th colspan="2">Amount</th>
    <th>Description</th>
    <%= render @order.line_items -%><!--doesn't render correctly-->
  </tr>
</table>