<div class="kursach_form">

  <%= form_for(@user) do |f| %>
      <% if @user.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

            <ul>
              <% @user.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
              <% end %>
            </ul>
          </div>
      <% end %>

      <fieldset>
        <legend>Enter username and password:</legend>

        <div class="field">
          <%= f.label :name, 'Username: ' %><br>
          <%= f.text_field :name, size: 40 %>
        </div>

        <div class="field">
          <%= f.label :password, 'Password: ' %><br>
          <%= f.password_field :password, size: 40 %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation, 'Confirm your password: ' %><br>
          <%= f.password_field :password_confirmation, size: 40 %>
        </div>

        <div class="actions">
          <%= f.submit %>
        </div>

      </fieldset>
  <% end %>
</div>
