<!--This is a partial to render()-->
<!--Use cart instead @cart-->

<% unless cart.line_items.empty? %> <!--don't show empty cart-->
<h2>Your Cart</h2>

<table>
  <%= render(cart.line_items) %> <!--render with partial-->

  <tr class="total_line">
    <td colspan="2">Total</td>
    <td class="total_cell"><%= number_to_currency(cart.total_price) %></td>
  </tr>
</table>

<%= button_to "Checkout", new_order_path, method: :get %>
<%= button_to 'Empty cart', cart, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>