/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery-ui
 */

#banner {
    background: #87889D;
    padding: 10px;
    border-bottom: 2px solid;
    font: small-caps 40px/40px "Times New Roman", serif;
    color: #222;
  .title {
    float: center;
    text-align: center;

    img {
      float: center;
      margin-bottom: -5px;
      width: 40px;
      height: 40px;
    }
  }
}

#notice {
  color: #000 !important;
  border: 2px solid #FF454C;
  padding: 1em;
  margin-bottom: 2em;
  background-color: #E0E2FF;
  font: bold smaller sans-serif;
}

#columns {
  background: #1F273E;

  #main {
    margin-left: 17em;
    padding: 1em;
    background: #F0F2FF;
  }

  aside {
    float: left;
    padding: 1em 2em;
    width: 13em;
    background: #1F273E;

    form, div {
      display: inline;
    }

    input {
      font-size: small;
    }

    #cart {
      font-size: smaller;
      color: white;

      table {
        border-top: 1px dotted #1F273E;
        border-bottom: 1px dotted #1F273E;
        margin-bottom: 10px;
      }
    }

    ul {
      padding: 0;

      li {
        list-style: none;

        a {
          color: #eeeeee;
          font-size: small;
        }

        p {
          color: #eeeeee;
          font: bold smaller sans-serif;
        }
      }
    }
  }

  .kursach_form {
    fieldset {
      background: #E0E2FF;

      legend {
        color: #F0F2FF;
        background: #87889D;
        font-family: sans-serif;
        padding: 0.2em 1em;
      }
    }

    form {
      label {
        width: 5em;
        float: left;
        text-align: right;
        padding-top: 0.2em;
        margin-right: 0.1em;
        display: block;
      }

      select, textarea, input {
        margin-left: 0.5em;
      }

      .submit {
        margin-left: 4em;
      }

      br {
        display: none;
      }
    }
  }
}