// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

.products {
  header h1 {
    text-align: center;
    font-size: 2.5em;
    color: #1F273E;
  }

  table {
    border-collapse: collapse;
    width: 100%;
  }

  table tr td {
    padding: 5px;
    vertical-align: top;
  }

  .list_image {
    width: 90px;
    height: 75px;
  }

  .list_description {
    width: 60%;

    dl {
      margin: 0;
    }

    dt {
      color: #1F273E;
      font-weight: bold;
      font-size: larger;
    }

    dd {
      margin: 0;
    }
  }

  .list_actions {
    font-size: x-small;
    text-align: right;
    padding-left: 1em;
  }

  .list_line_even {
    background: #F0F2FF;
    color: #222222;
  }

  .list_line_odd {
    background: #87889D;
    color: #eeeeee;
  }

  .add {
    text-align: center;
    width: 100%;
  }

  .add .button {
    background: #FF454C;
    font-size: 1.5em;
    padding-top: 0.7em;
    padding-bottom: 0.7em;
  }

  .add a {
    text-decoration: none;
    color: #ffffff;
    background: #FF454C;
  }
}