//hide flash-message after first action
$('#notice').hide();

//doesn't work:
if ($('#cart tr').length == 1) { $('#cart').show('blind', 1000) }

$('#cart').html("<%= escape_javascript render(@cart) %>"); //change code with id="cart" to this code; $ - is jQuery tag

//doesn't work:
$('#current_item').css({'background-color' : '#87889D'}); //find element with id="current_item" and use css to it
animate({'background-color' : '#114411'}, 1000); //add animation
