<% if notice %>
    <p id="notice"><%= notice %></p>
<% end %>

<div class="store_title">
  <h1>Catalog</h1>
</div>

<% cache ['store', Product.latest] do %>
    <% @products.each do |product| %>
        <% cache ['entry', product] do %>
            <div class="entry">
              <%= image_tag(product.image_url) %> <!-- Add image -->

              <h3><%= product.title %></h3>
              <%= sanitize(product.description) %> <!-- delete HTML tags from description -->

              <div class="price_line">
                <span class="price"><%= number_to_currency(product.price) %></span>

                <%= button_to 'Add to Cart', line_items_path(product_id: product), remote: true %> <!--button to add in the cart, with AJAX-->
              </div>
            </div>
        <% end %>
    <% end %>
<% end %>